html, 
body {
  height: 100%;
}

body {
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-400;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-400;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/icons/home.svg');
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
  }
  &__list {
    display: flex;
  }
  &__item {
    color: #727272;
    padding-right: 40px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/angle-right.svg');
      width: 9px;
      height: 10px; 
      right: 15px;
      top: 8px;
    }
    &:last-child {
      color: $accent;
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
  }
}
